html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}
.system-wrapper {
  display: flex;
}

.system-wrapper div {
  flex: 1; /*grow*/
  vertical-align: top;
  border: 1px solid black;
}

#system-time {
  /* font-size: 1.5rem; */

}

/* Versioning information */
.version-info div {
    display: flex;
    text-align: center;
  }
  
  .version-info span {
    flex: 1;
  }
  
  .version-info span:first-of-type {
    text-align: right;
    padding-right: 5px;
  }
  
  .version-info span:last-of-type {
    text-align: left;
    padding-left: 1px;
  }

  .version-info div p {
    font-size: 1.0rem;
  }

